.skillcontainer{
    margin-top:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skill{
    display: flex;
    flex-direction: row;
}
.label-box{
    height: 50px;
    margin: 10px 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center; 
}
.label-box-list{
    background-color: beige;
    margin: 10px 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center; 
}

.label-box {
    opacity: 0;
    transition: all 1.4s;
  }
  
  .label-box.animate {
    opacity: 1;
  }
  
  .left-to-right {
    transform: translateX(-100px);
  }
  
  .right-to-left {
    transform: translateX(100px);
  }
  
  .left-to-right.animate {
    transform: translateX(0);
  }
  
  .right-to-left.animate {
    transform: translateX(0);
  }
.dropicon{
    margin-top: 25px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.dropicon img{
  width: 24px;
  aspect-ratio: 1;
}
.skillright{
    position: relative;
    left:130px;
    display: flex;
}
.skillleft{
    position: relative;
    right:130px;
    display: flex;
}
@media screen and (max-width: 768px) {
  .label-box{
    width: 150px;
  }
  .skillright{
    left:105px;
}
.skillleft{
    right:105px;
}

}